.about-container {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: relative;
    
}

.about-title {
    background-color: transparent;
}

.about-container .about-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1700px;
    margin: auto;
    padding: 1rem;
    background-color: #16161d;
}

.transparent-bg {
    background: transparent;
}





@media screen and (max-width:940px) {
    .about-container .about-content {
        font-size: 1.5rem;
    }
}