.house-content-title {
    margin-bottom: 60px;
}

.house-content-wrapper {
    display: flex;
    flex-direction: row;
}

.house-content-ind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}