.references-container {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: relative;
}

.references-container .references-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
    
}

@media screen and (max-width:940px) {
    .references-container .references-content .transparent-bg {
        font-size: 1.5rem;
    } 

}