.footer-container {
    background-color: transparent;
    width: 100%;
    height: 50vh;
    position: relative;
}

.footer-container .footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}

@media screen and (max-width:940px) {
    .footer-container .footer-content {
        font-size: 1.5rem;
    }
}