* {
  box-sizing: border-box;
  background-color: #16161d;
  color: white;
}

body {
  margin: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background: transparent;
  max-width: 100%;
}

.app-div-wrapper {
  background-color: rgba(12, 12, 1, 0.8);
  
}