* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    background-color: rgb(246, 245, 246);
    color: rgb(59, 57, 63);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.index-container {
    background: url('https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/213471636.jpg?k=7d03bb3f3f8b681690e5a02d93f531ea72cb3285acc0a0221b72a815f01c8dd2&o=&hp=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

