:root {
    --primary-color: #5bb462;
    --primary-dark: #4f9c55;
    --secondary-color: #ffea00;
    --secondary-dark:#e3d002;
    --overlay: rgba(0,0,0,.7);
  }

* {
    margin: 0;
    padding: 0;
}

.index-container {
    background: url('https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/213471636.jpg?k=7d03bb3f3f8b681690e5a02d93f531ea72cb3285acc0a0221b72a815f01c8dd2&o=&hp=1') no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    z-index: -2;
}

